<div class="container">
  <div class="row">
    <div class="col-sm-8 order-sm-0">
      <h4 class="mb-3">Shipping Address</h4>

      <div *ngIf="isLoggedIn && addresses.length > 0">
        <label> Select an address to use, or kip and create a new one
          <select (change)="onAddressChanged($event)" class="form-control">
            <option>Select an address</option>
            <option *ngFor="let address of addresses" [value]="address.id">
              {{address.street_address}}/{{address.country}}/{{address.city}}
            </option>
          </select>
        </label>
      </div>
      <div class="alert alert-danger" *ngIf="!checkoutForm.valid && (checkoutForm.dirty || checkoutForm.touched)">
        <ul>
          <li
            *ngIf="checkoutForm.controls.firstName.invalid && (checkoutForm.controls.firstName.dirty || checkoutForm.controls.firstName.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.firstName.errors.required">
              firstName name is required.
            </span>
            <span *ngIf="checkoutForm.controls.firstName.errors.minlength">
              firstName must be at least 4 characters long.
            </span>
          </li>
          <li
            *ngIf="checkoutForm.controls.lastName.invalid && (checkoutForm.controls.lastName.dirty || checkoutForm.controls.lastName.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.lastName.errors.required">
              lastName name is required.
            </span>
            <span *ngIf="checkoutForm.controls.lastName.errors.minlength">
              lastName must be at least 4 characters long.
            </span>
          </li>
          <li
            *ngIf="checkoutForm.controls.streetAddress.invalid && (checkoutForm.controls.streetAddress.dirty || checkoutForm.controls.streetAddress.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.streetAddress.errors.required">
              address name is required.
            </span>
            <span *ngIf="checkoutForm.controls.streetAddress.errors.minlength">
              address must be at least 4 characters long.
            </span>
          </li>
          <li
            *ngIf="checkoutForm.controls.zipCode.invalid && (checkoutForm.controls.zipCode.dirty || checkoutForm.controls.zipCode.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.zipCode.errors.required">
              zipCode name is required.
            </span>
            <span *ngIf="checkoutForm.controls.zipCode.errors.minlength">
              zipCode must be at least 4 characters long.
            </span>
          </li>
          <li
            *ngIf="checkoutForm.controls.country.invalid && (checkoutForm.controls.country.dirty || checkoutForm.controls.country.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.country.errors.required">
              country name is required.
            </span>
            <span *ngIf="checkoutForm.controls.country.errors.minlength">
              country must be at least 4 characters long.
            </span>
          </li>
          <li
            *ngIf="checkoutForm.controls.city.invalid && (checkoutForm.controls.city.dirty || checkoutForm.controls.city.touched)"
            class="alert alert-danger">
            <span *ngIf="checkoutForm.controls.city.errors.required">
              City is required.
            </span>
            <span *ngIf="checkoutForm.controls.city.errors.minlength">
              City must be at least 4 characters long.
            </span>
          </li>
        </ul>

      </div>
      <form class="needs-validation" [formGroup]="checkoutForm" (submit)="submitCheckout()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name"
                   formControlName="firstName">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                   formControlName="lastName">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3" *ngIf="user.username !== null">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Enter Username"
                   formControlName="username" [disabled]="user.username !== null">
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email
            <span class="text-muted">(Optional)</span>
          </label>
          <input type="text" class="form-control" id="email" placeholder="Enter Email"
                 formControlName="email">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter Address"
                 formControlName="streetAddress">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>

            <input type="text" class="form-control" id="country" placeholder="Country"
                   formControlName="country"/>

            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-md-5 mb-3">
            <label for="country">City</label>

            <input type="text" class="form-control" id="city" placeholder="City"
                   formControlName="city"/>
          </div>


          <div class="col-md-3 mb-3">
            <label for="zipCode">Zip</label>

            <input type="text" class="form-control" id="zipCode" placeholder="Country"
                   formControlName="zipCode"/>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Credit card</label>

            <input type="text" class="form-control" id="cardNumber" placeholder="CardNumber"
                   formControlName="cardNumber"/>

            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>
      </form>
    </div>

    <div class="col-sm order-sm-1">
      <app-cart-summary [cartItems]="cartItems"></app-cart-summary>
      <a class="btn btn-primary" [routerLink]="['/products/']">Continue Shopping</a>
    </div>
  </div>
</div>
