

.remove-product {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  background-color: #E0E0E0;
  color: #fff;
  cursor: pointer;
}

.remove-product:hover {
  background-color: #e02820;
}
